html, body {
    height: 100%;
    margin: 0;
}

body { 
    /* El body empieza oculto por Firebase, pero cuando se muestra es Flex */
    flex-direction: column; 
    min-height: 100vh; 
    background-color: #1a1a1a;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header {
    background-color: #2a2a2a;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D4AF37;
}

/* 2. El MAIN debe crecer para ocupar el espacio sobrante */
main {
    flex: 1 0 auto; /* Crece (1), no se encoge (0), base automática */
    padding: 1rem 2rem;
}

.secondary-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222; /* Ligeramente más claro que el fondo */
    padding: 15px 0 15px 0;
    border-top: 1px solid #333;
    position: fixed;
    bottom: 50px; /* Justo encima del footer principal */
    width: 100%;
}

/* Estilo de cada enlace */
.nav-item {
    text-decoration: none;
    color: #bbb;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

i {
    color: #D4AF37; /* Dorado para los íconos */
}

.nav-item .icon {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* Efecto al pasar el ratón */
.nav-item:hover {
    color: #D4AF37; /* Tu dorado */
    transform: translateY(-7px);
}

/* Estilo para el ítem "activo" (opcional) */
.nav-item.active {
    color: #D4AF37;
    font-weight: bold;
}

/* Ajuste del footer principal para que no quede demasiado grande */
footer {
    flex-shrink: 0;
    background-color: #1a1a1a;
    padding: 1rem;
    padding-left: 0;
    text-align: center;
    color: #D4AF37;
    border-top: 1px solid #2a2a2a;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #D4AF37;
}

.btn-profile {
    background-color: transparent;
    color: #D4AF37;
    border: 1px solid #D4AF37;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-profile:hover {
    background-color: #D4AF37;
    color: black;
}

.nav-item {
    color: #888;
    transition: all 0.5s ease;
}

.nav-item .icon {
    color: #888;
}

/* Estado ACTIVO (cuando el usuario está en esa página) */
.nav-item.active {
    color: #D4AF37; /* Dorado */
    font-weight: bold;
}

.nav-item.active .icon {
    color: #D4AF37;
    /* Efecto extra: un pequeño resplandor al icono activo */
    filter: drop-shadow(0 0 5px rgba(212, 175, 55, 0.4));
    transform: scale(1.1); /* Lo hace un poquito más grande */
}

.data {
    border: solid 2px #D4AF37;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#user-name {
    text-transform: lowercase;
}

.etiqueta-borde {
    position: absolute;
    top: -12px; /* La mitad de la altura de la etiqueta aprox. para que quede centrada en la línea */
    left: 20px; /* Separación desde la izquierda */
    background-color: #1a1a1a; /* El MISMO color de fondo que el div para "tapar" la línea */
    padding: 0 8px; /* Espacio a los lados del texto para que no toque la línea */
    color: #D4AF37;
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}

.container-datos {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-stats {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 auto;
    justify-content: space-around;
    width: 50%;
}

.perfil-stats-profile {
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: auto;
}

.stat-value {
    font-size: 2.5rem;
    font-weight: bold;
    color: #D4AF37;
    font-style: italic;
}

.stat-label {
    font-size: 0.7rem;
    color: #bbb;
    font-weight: bold;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin: 0 2px;
    margin-top: 30px;
    font-size: 1rem;
    border: solid 1px #D4AF37;
    color: #D4AF37;
    font-weight: bold;
}

.btn:hover {
    background-color: #D4AF37;
    color: #1a1a1a;
    border: transparent;
    transition: all 0.5s ease;
}

.container-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.info-item p {
    color: #bbb;
    font-weight: bold;
    font-size: 0.8rem;
}

.info-item span {
    color: #D4AF37;
    font-size: 1rem;
    font-weight: bold;
}

.separador {
    border: solid 1px #D4AF37;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
}

#contenedor-peliculas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 15px;
    padding: 15px;
}

.movie-card {
    background: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    width: 200px;
}

.movie-card-watchlist {
    background: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    width: 175px;
}

.movie-card-watchlist .movie-info h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;      /* Cambia a 3 si quieres más líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}

.movie-card img {
    width: 100%;
    display: block;
    aspect-ratio: 2 / 3; /* Proporción estándar de póster */
    object-fit: cover;
}

.movie-card-watchlist img {
    width: 100%;
    display: block;
    aspect-ratio: 2 / 3; /* Proporción estándar de póster */
    object-fit: cover;
}

.movie-info {
    padding: 8px;
}

.movie-info h4 {
    margin: 0;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Corta el texto si es muy largo */
}

.rating {
    color: #D4AF37;
    font-size: 0.75rem;
}

.search-container {
    display: flex;
    padding: 20px 0px;
    gap: 10px;
    height: 50px;
    margin: 0 auto;
    width: 100%;
}

#search-input {
    flex: 1;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #444;
    background: #222;
    color: white;
    outline: none;
}

#search-user-input {
    flex: 1;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #444;
    background: #222;
    color: white;
    outline: none;
}

#search-input:focus {
    border-color: #D4AF37;
}

#search-user-input:focus {
    border-color: #D4AF37;
}

#search-profile-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.busca {
    color: white;
    -webkit-text-stroke: 0.75px white;
}

#search-btn {
    background: #D4AF37;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: fit-content;
}

#search-user-btn {
    background: #D4AF37;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: fit-content;
    font-weight: bold;
}

.title {
    color: #D4AF37;
    font-style: italic;
}

.movies-grid {
    display: grid;
    /* Forzamos 6 columnas de igual tamaño */
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding: 20px;
    justify-content: center;
}

.main-container {
    padding-bottom: 120px;
    padding-top: 30px;
}

.details-container {
    padding: 20px;
    margin: 0 auto;
}

.movie-header {
    display: flex;
    gap: 30px;
    flex-wrap: wrap; /* Para que en móvil se ponga uno debajo de otro */
}

.detail-poster {
    width: 230px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.text-info {
    flex: 1;
}

.tagline {
    font-style: italic;
    color: #D4AF37;
    margin-bottom: 20px;
}

.user-actions {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

#add-watchlist-btn {
    width: 30%;
    background-color: #1a1a1a;
    color: white;
    border: solid 1px #D4AF37;
    color: #D4AF37;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#add-watchlist-btn:hover {
    background-color: #D4AF37;
    color: #1a1a1a;
    border: transparent;
}

#user-rating {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background: #222;
    color: white;
    outline: none;
    width: 45%;
}

.rating-input {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#save-rating-btn {
    padding: 10px 25px;
    border-radius: 5px;
}

#save-rating-btn:hover {
    color: #1a1a1a;
}

.tier-row {
    display: flex;
    border-bottom: 1px solid #333;
    min-height: 150px;
    align-items: left;
}

.tier-label {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #1a1a1a;
}

.tier-list-container {
    margin: 25px;
}

.s { background-color: #ff7f7f; } /* Rojo coral */
.a { background-color: #ffbf7f; } /* Naranja suave */
.b { background-color: #ffdf7f; } /* Ámbar / Oro */
.c { background-color: #ffff7f; } /* Amarillo */
.d { background-color: #dfff7f; } /* Lima claro */
.e { background-color: #bfff7f; } /* Lima */
.f { background-color: #7fff7f; } /* Verde vibrante */

.s {
    border-top-left-radius: 5px;
}

.f {
    border-bottom-left-radius: 5px;
}

.movie-tier {
    width: 150px;
}

.tier-content {
    flex: 1;
    padding: 20px !important;
    display: flex !important; /* Cambiamos grid por flex para que se deslicen */
    flex-wrap: wrap;
    gap: 10px;
    background-color: #1a1a1a;
    justify-content: flex-start;
}

.tier-content .movie-info { display: none; } /* Ocultamos textos para que sea visual */

.delete-pts {
    width: 30%;
}

.welcome-container {
    text-align: center;
    padding: 0px 10px;
    color: #eee;
}

.suggested-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.mini-user-card {
    background: #2a2a2a;
    border: 1px solid #444;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mini-user-card span {
    font-weight: bold;
    color: #D4AF37;
}

.mini-user-card button {
    background: transparent;
    border: 1px solid #D4AF37;
    color: #D4AF37;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.profile-header {
    text-align: center;
    padding: 30px;
    background: #1a1a1a;
    margin-bottom: 20px;
}

.btn-follow {
    background: transparent;
    border: 1px solid #D4AF37;
    color: #D4AF37;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    width: 100%;
    margin-bottom: 15px;
}

.btn-follow:hover {
    background-color: #D4AF37;
    color: #1a1a1a;
}

.profile-avatar i {
    font-size: 5rem;
    color: #D4AF37;
    margin-bottom: 10px;
    margin-top: 15px;
}

.mini-movie-card {
    width: 150px;
    font-size: 0.8rem;
    display: flex;
}

.mini-movie-card img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.user-score {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #D4AF37;
    color: black;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 0.7rem;
    border: 2px solid #1a1a1a;
}

#public-profile-container {
    padding-bottom: 120px;
}

.profile-avatar {
    margin-top: 10px;
    margin-bottom: -10px;
}

#view-username {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: #D4AF37;
}

#view-stats {
    color: #bbb;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 25px;
}

#user-time {
    color: #bbb;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 25px;
}

.profile-header {
    width: 100%;
    text-align: center;
    padding: 0px;
}

#user-data {
    color: #D4AF37;
    font-weight: bold;
    margin-top: 20px;
}

#btn-see-profile {
    margin-top: 10px;
    padding: 10px 15px;
    font-weight: bold;
    transition: 0.5s;
}

#btn-see-profile:hover {
    background-color: #D4AF37;
    color: #1a1a1a;
}

.activity-card {
    background: #1a1a1a;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #333;
}

.user-highlight {
    color: #D4AF37;
    font-weight: bold;
    cursor: pointer;
}

.activity-header {
    margin-bottom: 12px;
    font-size: 0.95rem;
    color: #eee;
}

.activity-content {
    display: flex;
    gap: 15px;
    background: #252525;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.activity-content img {
    width: 100px;
    border-radius: 4px;
}

.activity-info h4 {
    margin: 0;
    color: #fff;
}

.activity-info p {
    margin: 5px 0 0;
    font-size: 0.8rem;
    color: #888;
}

/* Pantalla completa de carga */
#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212; /* Color de fondo de tu app */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Por encima de todo */
    transition: opacity 0.5s ease;
}

/* La ruleta (spinner) */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #333;
    border-top: 5px solid #D4AF37; /* El dorado de tu marca */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader-overlay p {
    color: #D4AF37;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.providers-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px;
    margin-top: -10px;
}

.providers-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 0px;
    align-items: center;
}

.provider-logo {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: transform 0.2s;
}

@media (max-width: 480px) { 
    .nav-item:hover {
        transform: translateY(0px);
    }

    .data {
        flex-direction: column;
        align-items: center;
    }

    header {
        padding-right: 0.5rem;
    }

    .perfil-stats {
        justify-content: center;
        gap: 45px;
    }

    .separador {
        width: 85%;
    }

    .info {
        flex-direction: column;
    }

    .info-item p {
        font-size: 12px;
    }

    .info-item span {
        font-size: 12px;
    }

    .container-btn {
        gap: 10px;
        margin-top: -10px;
    }

    .movie-card {
        width: 135px;
    }

    .text-info {
        flex: none;
        width: 100%;
    }

    .movies-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 15px;
    }

    .title {
        font-size: 1.2rem;
        margin: 12px auto;
        text-align: center;
    }

    .btn-profile {
        background-color: #D4AF37;
        color: white;
        font-size: smaller;
        font-weight: bold;
    }

    #add-watchlist-btn {
        width: 100%;
        background-color: #D4AF37;
        color: white;
        font-size: smaller;
        font-weight: bold;
    }

    .rating-input {
        width: 100%;
        flex-direction: row;
        gap: 10px;
    }

    #user-rating {
        width: 15%;
        text-align: center;
    }

    .movie-card-watchlist {
        width: 125px;
    }

    .tier-row {
        flex-direction: column; /* Apila la letra sobre el contenido */
        min-height: auto;       /* Permite que la altura sea flexible */
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: 0px transparent;
    }

    .tier-label {
        width: 100% !important; /* La etiqueta ocupa todo el ancho */
        height: 30px;           /* Altura más pequeña para que no ocupe mucho */
        font-size: 1.1rem;      /* Letra un poco más pequeña */
        padding: 5px 0;
        justify-content: center; /* Centra la letra horizontalmente */
    }

    .tier-content {
        padding: 15px 10px !important;
        justify-content: center;
    }
    
    .tier-list-container {
        width: 100%;
    }

    .movie-tier {
        width: 30%;
    }

    .btn {
        background-color: #D4AF37;
        color: white;
        font-size: smaller;
        font-weight: bold;
    }

    .delete-pts {
        width: 100%;
    }

    #add-watchlist-btn:hover {
        color: white;
    }

    #save-rating-btn:hover {
        color: white;
    }

    .delete-pts:hover {
        color: white;
    }

    .detail-poster {
        width: 70%;
        margin: auto;
    }

    .movie-title {
        margin-top: 0px;
        text-align: center;
    }

    .tagline {
        text-align: center;
    }

    .overview {
        text-align: justify;
    }

    .user-actions {
        flex-direction: column;
        gap: 15px;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .movie-header {
        margin-left: -10px;
    }

    .s {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .a {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .b {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .c {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .d {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .e {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .f {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }

    .swal2-popup {
        width: 80% !important;   /* Ocupará el 80% del ancho de la pantalla */
        font-size: 0.8rem !important; /* Reducimos ligeramente la base de la fuente */
    }

    .swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
        top: 29px !important; /* Ajusta la posición de las líneas de la X */
        width: 33px !important; /* Hace las líneas más cortas para que no se salgan */
    }

    .swal2-icon {
        margin-bottom: 10px !important;
        transform: scale(0.9);
    }

    .btn-follow {
        background: #D4AF37;
        border: 1px solid #D4AF37;
        color: white;
        padding: 8px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        font-weight: bold;
        font-size: smaller;
        width: 100%;
    }

    .btn-follow:hover {
        color: white;
    }

    #btn-see-profile {
        background-color: #D4AF37;
        color: white;
    }

}